absl-py==2.1.0
aiofiles==24.1.0
aiohappyeyeballs==2.4.6
aiohttp==3.10.11
aiohttp-retry==2.8.3
aioice==0.9.0
aiortc==1.9.0
aiosignal==1.3.2
aiosqlite==0.21.0
amqp==5.2.0
annotated-types==0.7.0
anthropic==0.34.2
anyio==4.4.0
appdirs==1.4.4
APScheduler==3.11.0
argcomplete==3.5.3
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
asyncua==1.1.5
attr==0.3.1
attrs==23.2.0
av==12.3.0
azure-core==1.32.0
azure-storage-blob==12.24.1
Babel==2.15.0
backoff==2.2.1
beautifulsoup4==4.12.3
bidict==0.23.1
billiard==4.2.1
black==24.10.0
bleach==5.0.1
blinker==1.9.0
boto==2.49.0
boto3==1.35.60
botocore==1.35.99
cachetools==5.5.1
celery==5.4.0
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cmake==3.31.2
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.2
commonmark==0.9.1
contourpy==1.3.0
cron-descriptor==1.4.5
cryptography==44.0.0
cycler==0.12.1
Cython==3.0.12
dataclasses-json==0.6.7
datamodel-code-generator==0.26.1
debugpy==1.8.1
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.18
distlib==0.3.8
distro==1.9.0
Django==5.1.6
django-annoying==0.10.6
django-celery-beat==2.7.0
django-cors-headers==3.6.0
django-csp==3.7
django-debug-toolbar==3.2.1
django-environ==0.10.0
django-extensions==3.2.3
django-filter==24.3
django-migration-linter==5.1.0
django-model-utils==4.1.1
django-ranged-fileresponse==0.1.2
django-rq==2.10.3
django-storages==1.12.3
django-timezone-field==7.0
django-user-agents==0.4.0
django_notifications==0.1.dev0
djangorestframework==3.15.2
dnspython==2.7.0
docker==7.1.0
drf-dynamic-fields==0.3.0
drf-flex-fields==0.9.5
drf-generators==0.3.0
email_validator==2.2.0
eventlet==0.39.0
executing==2.0.1
expiringdict==1.2.2
Faker==35.0.0
fastapi==0.110.3
fastjsonschema==2.19.1
filelock==3.15.4
filetype==1.2.0
Flask==2.3.3
Flask-SocketIO==5.5.1
flatbuffers==24.3.25
fonttools==4.54.1
fqdn==1.5.1
frozenlist==1.5.0
fsspec==2024.2.0
gast==0.6.0
genson==1.3.0
gitdb==4.0.12
GitPython==3.1.44
google-api-core==2.24.1
google-auth==2.38.0
google-cloud-appengine-logging==1.5.0
google-cloud-audit-log==0.3.0
google-cloud-core==2.4.1
google-cloud-logging==3.11.3
google-cloud-storage==2.19.0
google-crc32c==1.6.0
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.66.0
greenlet==3.1.1
grpc-google-iam-v1==0.14.0
grpcio==1.70.0
grpcio-status==1.70.0
h11==0.14.0
h5py==3.11.0
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.29.1
humanfriendly==10.0
humansignal-drf-yasg==1.21.10.post1
idna==3.7
ifaddr==0.2.0
ijson==3.3.0
imageio==2.37.0
importlib_metadata==8.5.0
inference==0.40.0
inference-sdk==0.37.1
inflect==5.6.2
inflection==0.5.1
iniconfig==2.0.0
ipykernel==6.29.4
ipython==8.25.0
ipywidgets==8.1.3
isodate==0.7.2
isoduration==20.11.0
isort==5.13.2
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
jiter==0.8.2
jmespath==1.0.1
joblib==1.4.2
jsf==0.11.2
json5==0.9.25
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_server==2.14.1
jupyter_server_terminals==0.5.3
jupyterlab==4.2.2
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.2
jupyterlab_widgets==3.0.11
keras==3.3.3
kiwisolver==1.4.7
kombu==5.4.2
label-studio==1.16.0
label-studio-sdk @ git+https://github.com/HumanSignal/label-studio-sdk.git@8e17f4173edb8a60bbfa0eca56a168889d0670fd
launchdarkly-server-sdk==8.2.1
lazy_loader==0.4
libclang==18.1.1
lightning-utilities==0.12.0
lockfile==0.12.2
lxml==5.3.0
lxml_html_clean==0.4.1
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.26.1
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.0.2
ml-dtypes==0.4.0
mplfinance==0.12.10b0
mpmath==1.3.0
multidict==6.1.0
mypy-extensions==1.0.0
namex==0.0.8
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.2.1
nltk==3.9.1
notebook==7.2.1
notebook_shim==0.2.4
numpy==1.26.4
nvidia-ml-py==12.570.86
onnxruntime==1.19.2
openai==1.60.2
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
opentelemetry-api==1.29.0
opt-einsum==3.3.0
optree==0.11.0
ordered-set==4.0.2
overrides==7.7.0
packaging==24.1
paho-mqtt==1.6.1
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.4
pathspec==0.12.1
pillow==10.4.0
pipenv==2024.0.1
platformdirs==4.2.2
pluggy==1.5.0
prometheus-fastapi-instrumentator==6.0.0
prometheus_client==0.20.0
prompt_toolkit==3.0.47
propcache==0.2.1
proto-plus==1.26.0
protobuf==4.25.6
psutil==5.9.8
psycopg2-binary==2.9.10
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pybase64==1.0.2
pyboxen==1.3.0
pycparser==2.22
pydantic==2.10.6
pydantic-settings==2.8.1
pydantic_core==2.27.2
pydot==2.0.0
pyee==12.1.1
Pygments==2.18.0
PyJWT==2.10.1
pylibsrtp==0.11.0
pylogix==1.0.5
pymodbus==3.8.3
pyOpenSSL==25.0.0
pyparsing==3.2.0
pyreadline3==3.5.4
pyRFC3339==2.0.1
pytesseract==0.3.13
pytest==8.3.4
python-crontab==3.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-engineio==4.11.2
python-json-logger==2.0.4
python-socketio==5.12.1
pytz==2022.7.1
pywin32==306
pywinpty==2.0.13
PyYAML==6.0.1
pyzmq==26.0.3
qrcode==8.0
qtconsole==5.5.2
QtPy==2.4.1
redis==5.0.8
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
requests-file==2.1.0
requests-mock==1.12.1
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.0.1
roboflow==1.1.53
rpds-py==0.18.1
rq==1.16.2
rsa==4.9
rstr==3.2.2
rules==3.4
s3transfer==0.10.4
scikit-image==0.24.0
scikit-learn==1.5.2
scipy==1.14.1
seaborn==0.13.2
semver==3.0.4
Send2Trash==1.8.3
sentry-sdk==2.20.0
setuptools==75.8.0
shapely==2.0.7
shellingham==1.5.4
simple-websocket==1.1.0
six==1.16.0
slack_sdk==3.33.5
smart-open==7.1.0
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
sqlparse==0.5.0
stack-data==0.6.3
starlette==0.37.2
structlog==24.4.0
supervision==0.25.1
sympy==1.13.1
tensorboard==2.17.0
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-intel==2.17.0
termcolor==2.4.0
terminado==0.18.1
thop==0.1.1.post2209072238
threadpoolctl==3.5.0
tifffile==2025.2.18
tinycss2==1.3.0
tldextract==5.1.3
tokenizers==0.21.0
toml==0.10.2
torch==2.5.1+cu118
torchaudio==2.5.1+cu118
torchmetrics==1.4.3
torchvision==0.20.1+cu118
tornado==6.4.1
tqdm==4.67.1
traitlets==5.14.3
twilio==9.3.8
typer==0.12.5
types-python-dateutil==2.9.0.20240316
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==5.3
ua-parser==1.0.0
ua-parser-builtins==0.18.0.post1
ujson==5.10.0
ultralytics==8.3.76
ultralytics-thop==2.0.14
uri-template==1.3.0
uritemplate==4.1.1
urllib3==1.26.20
user-agents==2.2.0
uvicorn==0.34.0
vboxapi==1.0
vine==5.1.0
virtualenv==20.26.3
wcwidth==0.2.13
webcolors==24.6.0
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.1.3
wheel==0.40.0
widgetsnbextension==4.0.11
wrapt==1.16.0
wsproto==1.2.0
xmljson==0.2.1
yarl==1.18.3
zipp==3.21.0
zxing-cpp==2.2.0
